body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }


  .map-tooltip {
    min-width: inherit;
  }
  .map-tooltip h2 {
    padding: 0px;
    margin: 0px;
  }

  #map-ui {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 100;
    border-width: 1px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background: #2B82CB;
    border-color: #2B82CB;
    border-top-color: #FFF;
    padding: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60px;
    font-size: 14px;
  }
  #map-ui p {
    padding: 0px;
    margin: 0px 2px 0px 2px;
    color: #FFFFFF;
    font-size: 14px;
  }
  #map-ui img {
    padding: 0px;
    margin: 0px;
  }
  #map-ui a:link { 
    color: #FFF;
  }
  #map-ui a:visited { 
    color: #FFF;
  }
  #map-ui a:hover {
    color: #FFF;
  }
  #map-ui a:active { 
    color: #FFF;
  }

  #marker-list {
      position:absolute;
      top:0; right:0; width:200px;
      bottom:0;
      overflow-x:auto;
      background:#fff;
      margin:0;
      padding:5px;
  }
  #marker-list li {
      padding:5px;
      margin:0;
      list-style-type:none;
  }
  #marker-list li:hover {
      background:#eee;
  }