@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);


body
{
	/*background-color: #FFFFFF;*/
	background: rgba(255,255,255,0.1);
	margin: 0;
	background-attachment: fixed;
	font-family: 'Open Sans', Arial,  sans-serif;
	font-style: normal;
	font-size: 10px;
	color: #666666;
	text-align: justify;
}

. h1
{
   color: #7A7A7A;
   margin: 12px 0 10px;
   font-size: 14px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

a:link {
	color:  #666666;
	
	}
a:visited {
	color: #ff0000;
}
a:hover {
	color: #ff0000;
	;
	text-align: left;
}

/* Codice fade semplice */
.fade {
opacity: 1;
-webkit-filter: grayscale(0%);
-webkit-transition: -webkit-filter 0.75s;
 }
 .fade:hover {
opacity: 1;
-webkit-filter: grayscale(100%);
/*-webkit-transition: -webkit-filter 1s;	
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;*/
}
